

body {
    background-color: rgb(255, 255, 255);
    font-family: 'Baloo Paaji 2', cursive;
}


/* AVAILABLE FRIENDS */

.friends-heading{
    background-color: #FED9FF;
    background-image: url("https://i.imgur.com/fvX2d0k.png");
    padding: 15px 3px;
    font-weight: 800;
    font-size: 32px;
    color: #68c6eb;
    text-shadow: 1px 3px 0 rgb(255, 255, 255);  
}
#friend-container > li{
    border-bottom: rgb(218, 240, 254) solid;
    border-width: 1px;
    font-weight: 600;
    font-size: 30px;
    padding: 25px 0; 
    color: #ff8fcc;
    text-shadow: 1px 3px 0 rgb(235, 235, 235);
}

#friend-container > li:hover{
    cursor: pointer;
}

#container-title{
    padding: 15px 0;
    font-weight: 600;
    font-size: 30px;
    color: #57e4fd;
    text-shadow: 1px 3px 0 rgb(255, 255, 255);
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
}

#username{
    position: absolute;
    font-size: 35px;
    margin-left: -50px;
    margin-top: -2px;
    width: 93px;
    color: #68c6eb;
    text-shadow: 0 2px 0 rgb(255, 255, 255);
}

#stats-list > li{
    padding: 18px 0;
    font-weight: 700;
    font-size: 20px; 
    color: #ff8fcc;
    text-shadow: 0 2px 0 rgb(228, 227, 227);
    /* border-bottom: solid; */
}

#pet-title{
    background-image: url("https://i.imgur.com/fvX2d0k.png");
    background-color: #FED9FF;
    padding: 15px 0;
    font-size: 32px;
    color: #68c6eb;
    text-shadow: 1px 3px 0 rgb(255, 255, 255);  

}

#pets-container-text{
    background-image: url("https://i.imgur.com/fvX2d0k.png");
    background-color: #FED9FF;
    padding: 15px 0;
    font-size: 32px;
    color: #68c6eb;
    text-shadow: 1px 3px 0 rgb(255, 255, 255);  

}

#pets-container > li{
    font-weight: 600;
    font-size: 30px;
    padding: 25px 0; 
    color: #ff8fcc;
    text-shadow: 1px 3px 0 rgb(206, 204, 204);
}

#pets-container >li:hover{
    cursor: pointer;
}

#actions-title{
    padding: 25px 0;
    font-size: 40pt;
    color: rgb(255, 168, 248);
    text-shadow: 0 5px 0 rgb(109, 108, 108);  

}

/* HEADER */
#app-title{
    font-size: 36pt;
    padding: 15px 0;
    font-weight: 800;
    margin-left: 15px;
    position: absolute;
    color: #68c6eb;
    text-shadow: 0 2px 0 rgb(109, 108, 108);  
}
#user-div{
    margin-top: 20px; 
    float: right;
    width: 200px;
}
#login-button{
    margin-top: 2px;
    margin-left: 5px;
    width: 75px;
    font-family: 'Baloo Paaji 2';
    font-weight: bold;
    font-size: 15px;
    color: rgb(78, 76, 76) !important;
    width: 75px;
    box-shadow: 0 0 0 1px #97e4e9 inset,0 0 0 3px rgba(255, 255, 255, 0.509) inset,0 3px 0 0 #97e4e9, 2px 3px 4px rgba(103, 101, 101, 0.4),0 2px 2px 2px rgba(131, 131, 131, 0.5);
    height: 30px;
    border-radius: 5%;
    letter-spacing: 1px;
    text-shadow: 0 1px 1px rgba(236, 236, 236, 0.5);  
    margin-top: -3px;
}
#login-button:hover {
    background-color: #FED9FF;
    position: relative;
    cursor: pointer;
    top: -1px;
    box-shadow: 0 0 0 1px #dca5de inset,0 0 0 2px rgba(255, 255, 255, 0.15) inset,0 3px 0 0 #dca5de,0 4px 0 1px rgba(80, 79, 79, 0.4),0 2px 5px 1px rgba(0, 0, 0, 0.5);
}
#login-button:active {
    background-color: #FED9FF;
    top: 4px;
    box-shadow: 0 0 0 1px #dca5de inset,0 0 0 2px rgba(255, 255, 255, 0.372) inset,0 0 0 0 #dca5de,0 0 0 1px rgba(88, 88, 88, 0.4),0 0px 8px 1px rgba(94, 94, 94, 0.5);
}

#log-out{
    font-family: 'Baloo Paaji 2';
    font-weight: bold;
    font-size: 15px;
    color: rgb(78, 76, 76) !important;
    width: 75px;
    float:right;
    margin-right: 20px;
    box-shadow: 0 0 0 1px #97e4e9 inset,0 0 0 3px rgba(255, 255, 255, 0.509) inset,0 3px 0 0 #97e4e9, 2px 3px 4px rgba(103, 101, 101, 0.4),0 2px 2px 2px rgba(131, 131, 131, 0.5);
    height: 35px;
    border-radius: 5%;
    letter-spacing: 1px;
    text-shadow: 0 1px 1px rgba(236, 236, 236, 0.5); 
    margin-top: -5px;   
}
#log-out:hover {
    background-color: #FED9FF;
    position: relative;
    cursor: pointer;
    top: -1px;
    box-shadow: 0 0 0 1px #dca5de inset,0 0 0 2px rgba(255, 255, 255, 0.15) inset,0 3px 0 0 #dca5de,0 4px 0 1px rgba(80, 79, 79, 0.4),0 2px 5px 1px rgba(0, 0, 0, 0.5);
}
#log-out:active {
    background-color: #FED9FF;
    top: 4px;
    box-shadow: 0 0 0 1px #dca5de inset,0 0 0 2px rgba(255, 255, 255, 0.372) inset,0 0 0 0 #dca5de,0 0 0 1px rgba(88, 88, 88, 0.4),0 0px 8px 1px rgba(94, 94, 94, 0.5);
}


#log-in{
    margin-left: 20px;
}

#login-field{
    float: left;
    width: 85px;
    font-family: 'Baloo Paaji 2', cursive;
}

#user{
    margin-top: 20px;
}

#progress{
    margin: auto;
}

.petto-logo {
    width: 8%;
    margin-left: 20px;
    margin-top: 5px;
}


/* BACKGROUND / PET / HEART */

#image-container{
    overflow: hidden;
    position: relative;
} 

/* #button-container{
    overflow:hidden;
} */

#pet-bio{
    overflow:hidden;
    position: relative;
    width: 80%;
    margin: 0 auto;
}

#pet-bio h3{
    font-size: 25px;
    text-align: center;
    line-height: 1.4em;
    font-weight: 600;
    color:  #ffa7c9;
    text-shadow: 0 2px 0 rgb(221, 219, 219);
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    margin-top: 15px;
    box-shadow: 0 2px 0 rgb(221, 219, 219);
}





img.petimg{
    max-width: 15%;
    top: 55%;
    left: 40%;
    position: absolute;
  
    /* height: auto; */
    z-index: 2;
    
    
}

.poop{
position: absolute;
max-width: 5%;
left: 60%;
top: 80%;
}

.petbackground{
    width: 100%;
    min-width: 488px;
    /* position: relative; */
}
    
.pet{
    background-color: #E3FDFF;
}

/* GRID */

.parent {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}
    
.div1 {  grid-area: 2 / 1 / 9 / 3;
    background-color: #E3FDFF;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin-right: 5px;
    margin-left: 15px;
    text-align: center;
    font-weight: bold;
    height:700px;
}
    
.div2 { grid-area: 2 / 3 / 9 / 9; 
    background-color: #E3FDFF;   
    background-image: url('https://i.imgur.com/UojpByY.png');
    height: 700px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    text-align: center;
    font-weight: bold;
}

.div3 { grid-area: 2 / 9 / 6 / 11; 
    background-color: #E3FDFF;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin-right: 15px;
    margin-left: 5px;
    text-align: center;
    font-weight: bold;
}

.div4 { grid-area: 6 / 9 / 9 / 11; 
    background-color: #E3FDFF;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin-right: 15px;
    margin-left: 5px;
    text-align: center;
    font-weight: bold;
    height: 254px;
}

.div5 { grid-area: 1 / 1 / 2 / 11; 
    background-image: url("https://i.imgur.com/fvX2d0k.png");
        background-color: #FED9FF;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 10px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        font-weight: bold;
        padding: 5px 0;
}
                    
.div1:hover{
    box-shadow: 0 20px 16px 0 rgba(0,0,0,0.2);
}

.div2:hover{
    box-shadow: 0 20px 16px 0 rgba(0,0,0,0.2);
}

.div3:hover{
    box-shadow: 0 20px 16px 0 rgba(0,0,0,0.2);
}

.div4:hover{
    box-shadow: 0 20px 16px 0 rgba(0,0,0,0.2);
}




/* BUTTONS */

.design_button{
    background-color: #E3FDFF;
    border: none;
    outline: none;
}

#signup{  
    background-color: #FED9FF;
    border: none;
    padding: 5px 5px;
    text-align: center;
    font-family: 'Baloo Paaji 2', cursive;
    font-weight: bold;
    font-size: 20px;
    box-shadow: 0 0 0 1px #dca5de inset,0 0 0 2px rgba(255, 255, 255, 0.509) inset,0 2px 0 0 #dca5de,0 2px 0 .5px rgba(103, 101, 101, 0.4),0 1px 1px 1px rgba(131, 131, 131, 0.5);
    color: rgb(78, 76, 76) !important;
    border-radius: 5%;
    letter-spacing: 1px;
    text-shadow: 0 1px 1px rgba(236, 236, 236, 0.5);
    outline: none;
    height: 40ox;
    width: 150px;
}

#signup:hover {
    background-color: #FED9FF;
    cursor: pointer;
    position: relative;
    top: -1px;
    box-shadow: 0 0 0 1px #dca5de inset,0 0 0 2px rgba(255, 255, 255, 0.15) inset,0 3px 0 0 #dca5de,0 4px 0 1px rgba(80, 79, 79, 0.4),0 2px 5px 1px rgba(0, 0, 0, 0.5);
}

#signup:active {
    background-color: #FED9FF;
    top: 4px;
    box-shadow: 0 0 0 1px #dca5de inset,0 0 0 2px rgba(255, 255, 255, 0.372) inset,0 0 0 0 #dca5de,0 0 0 1px rgba(88, 88, 88, 0.4),0 0px 8px 1px rgba(94, 94, 94, 0.5);
}

#delete{
    background-color: #FED9FF;
    border: none;
    padding: 5px 5px;
    margin-top: 20px;
    text-align: center;
    font-family: 'Baloo Paaji 2', cursive;
    font-weight: bold;
    box-shadow: 0 0 0 1px #dca5de inset,0 0 0 2px rgba(255, 255, 255, 0.509) inset,0 2px 0 0 #dca5de,0 2px 0 .5px rgba(103, 101, 101, 0.4),0 1px 1px 1px rgba(131, 131, 131, 0.5);
    color: rgb(78, 76, 76) !important;
    border-radius: 5%;
    letter-spacing: 1px;
    margin-left: 20px;
    margin-right: 20px;
    text-shadow: 0 1px 1px rgba(236, 236, 236, 0.5);
    outline: none;
}

#delete:hover {
    background-color: #f1a5b1;
    cursor:pointer;
    position: relative;
    top: -1px;
    box-shadow: 0 0 0 1px #eca4b6 inset,0 0 0 2px rgba(255, 255, 255, 0.15) inset,0 3px 0 0 #eb8198,0 4px 0 1px rgba(80, 79, 79, 0.4),0 2px 5px 1px rgba(0, 0, 0, 0.5);
}
#delete:active {
    background-color: #f1a5b1;
    top: 4px;
    box-shadow: 0 0 0 1px #eca4b6 inset,0 0 0 2px rgba(75, 74, 74, 0.15) inset,0 0 0 0 #eb8198,0 0 0 1px rgba(85, 84, 84, 0.4),0 0px 8px 1px rgba(100, 100, 100, 0.5);
}

#action_button{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: #89C6FF;
    border: none;
    font-family: 'Baloo Paaji 2', cursive;
    font-weight: bold;
    box-shadow: 0 0 0 1px #355ea4 inset,0 0 0 2px rgba(255, 255, 255, 0.324) inset,0 4px 0 0 #4c7acb,0 4px 0 1px rgba(103, 101, 101, 0.4),0 4px 4px 1px rgba(92, 92, 92, 0.5);
    color: white !important;
    letter-spacing: 1px;
    line-height: 50px;
    margin-left: 20px;
    margin-right: 20px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    outline: none;
}


#action_button:hover {
    background-color: #89C6FF;
    cursor: pointer;
    position: relative;
    top: -1px;
    box-shadow: 0 0 0 1px #355ea4 inset,0 0 0 2px rgba(255, 255, 255, 0.15) inset,0 5px 0 0 #4c7acb,0 5px 0 1px rgba(0, 0, 0, 0.4),0 5px 8px 1px rgba(0, 0, 0, 0.5);
}

#action_button:active {
    background-color: #89C6FF;
    top: 4px;
    box-shadow: 0 0 0 1px #355ea4 inset,0 0 0 2px rgba(255, 255, 255, 0.15) inset,0 0 0 0 #4c7acb,0 0 0 1px rgba(0, 0, 0, 0.4),0 0px 8px 1px rgba(0, 0, 0, 0.5);
}

#heart{
    max-width: 20%;
    width:60px;
    height: 60px;
    left: 90%;
    z-index: 1;
    position: absolute;
    cursor: pointer;
}

 /** FORM CSS */
 #modal {
    position: fixed;   
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
}
    
 #modal2{
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.40);
}

#select-pet{
    background-color: #ffccff;
    box-shadow: 0 4px 8px 0 rgb(156, 148, 148);
    margin: 20vh auto 0;
    width: 550px;
    /* height: 50%; */
    text-align: center;
    padding:50px 0;
}

#select-pet h1 {
    margin-bottom: 30px;
    font-size: 45pt;
    padding: 10px 0;
    font-weight: 500;
    color: #4bdbff;
    text-shadow: 0 2px 0 rgb(255, 255, 255);
}

#sign-up{
    /* border: 2px solid tomato; */
    border-radius: 25px;
    background-color: #ffccff;
    box-shadow: 0 4px 8px 0 rgb(156, 148, 148);
    /* height: 200px; */
    width: 500px;
    margin: 20vh auto 0;
    text-align: center;
    padding: 25px 0;
}

#sign-up  h1 {
    margin-bottom: 30px;
    font-size: 50pt;
    padding: 10px 0;
    font-weight: 500;
    color: #4bdbff;
    text-shadow: 0 2px 0 rgb(255, 255, 255);
}

#modal form input{
    display: block;
    /* width: 100%; */
    max-width: 300px;
    margin: 0.25em auto;
    padding: 0.25em 1em;
    text-align: center;
}

#create-user{
    box-shadow: 0 0 0 1px #dca5de inset,0 0 0 2px rgba(255, 255, 255, 0.509) inset,0 2px 0 0 #dca5de,0 2px 0 .5px rgba(103, 101, 101, 0.4),0 1px 1px 1px rgba(131, 131, 131, 0.5);
    font-family: 'Baloo Paaji 2', cursive;
    font-weight: bold;
    border: none;
    border-radius: 5%;
    letter-spacing: 1px;
    width: 100px;
    text-shadow: 0 1px 1px rgba(236, 236, 236, 0.5);
}

#create-user:hover {
    background-color: #E3FDFF;
    position: relative;
    cursor: pointer;
    top: -1px;
    box-shadow: 0 0 0 1px #E3FDFF inset,0 0 0 2px rgba(255, 255, 255, 0.15) inset,0 3px 0 0 #f8b7ef,0 4px 0 1px rgba(80, 79, 79, 0.4),0 2px 5px 1px rgba(0, 0, 0, 0.5);
}

#create-user:active{
    background-color: #E3FDFF;
    top: 4px;
    box-shadow: 0 0 0 1px #E3FDFF inset,0 0 0 2px rgba(255, 255, 255, 0.372) inset,0 0 0 0 #E3FDFF,0 0 0 1px rgba(88, 88, 88, 0.4),0 0px 8px 1px rgba(94, 94, 94, 0.5);
}

#select-pet {
    border-radius: 25px;
}

#select-pet-container{
    margin-top: 20px;
}

#select-pet-container input{
    text-align: center;
    margin-bottom: 3px;
}


#start-button{
    box-shadow: 0 0 0 1px #dca5de inset,0 0 0 2px rgba(255, 255, 255, 0.509) inset,0 2px 0 0 #dca5de,0 2px 0 .5px rgba(103, 101, 101, 0.4),0 1px 1px 1px rgba(131, 131, 131, 0.5);
    font-family: 'Baloo Paaji 2', cursive;
    font-weight: bold;
    border: none;
    border-radius: 5%;
    letter-spacing: 1px;
    width: 100px;
    text-shadow: 0 1px 1px rgba(236, 236, 236, 0.5);
}

#start-button:hover{
    background-color: #E3FDFF;
    position: relative;
    cursor: pointer;
    top: -1px;
    box-shadow: 0 0 0 1px #E3FDFF inset,0 0 0 2px rgba(255, 255, 255, 0.15) inset,0 3px 0 0 #f8b7ef,0 4px 0 1px rgba(80, 79, 79, 0.4),0 2px 5px 1px rgba(0, 0, 0, 0.5);
}

#start-button:active{
    background-color: #E3FDFF;
    top: 4px;
    box-shadow: 0 0 0 1px #E3FDFF inset,0 0 0 2px rgba(255, 255, 255, 0.372) inset,0 0 0 0 #E3FDFF,0 0 0 1px rgba(88, 88, 88, 0.4),0 0px 8px 1px rgba(94, 94, 94, 0.5);
}






/* Pet selector */



input[type=checkbox]{
    display: none;
}

input#pet1[type=checkbox] + label{
    /*Duncan*/
    background-image: url("https://i.imgur.com/Hd0fjmp.gif");
    border-color: rgb(27, 3, 3);
    height: 100px;
    width: 87px;
    display: inline-block;
    padding: 0 0 0 0px;
}

input#pet1[type=checkbox]:checked + label{
    border-color: rgb(247, 151, 167);
    border-style: solid;
    border-width: 5px;
    width: 87px;
    height: 100px;
    display: inline-block;
    padding: 0 0 0 0px;
}

input#pet2[type=checkbox] + label{
    /* anise */
    background-image: url("https://i.imgur.com/VJEghyD.gif");
    border-color: white;
    height: 100px;
    width: 98px;
    display: inline-block;
    padding: 0 0 0 0px;
}

input#pet2[type=checkbox]:checked + label{
    border-color: rgb(247, 151, 167);
    border-style: solid;
    border-width: 5px;

    width: 98px;
    height: 100px;
    display: inline-block;
    padding: 0 0 0 0px;
}

input#pet3[type=checkbox] + label{
    /* olive */
    background-image: url("https://i.imgur.com/tPBTJx0.gif");
    border-color: white;
    height: 100px;
    width: 87px;
    display: inline-block;
    padding: 0 0 0 0px;
}

input#pet3[type=checkbox]:checked + label{
    border-color: rgb(247, 151, 167);
    border-style: solid;
    width: 87px;
    height: 100px;
    display: inline-block;
    padding: 0 0 0 0px;
    border-width: 5px;

}

input#pet4[type=checkbox] + label{
    /* burt */
    background-image: url("https://i.imgur.com/3cEVwm8.gif");
    border-color: white;
    height: 100px;
    width: 98px;
    display: inline-block;
    padding: 0 0 0 0px;
}

input#pet4[type=checkbox]:checked + label{
    border-color: rgb(247, 151, 167);
    border-style: solid;
    width: 98px;
    height: 100px;
    display: inline-block;
    padding: 0 0 0 0px;
    border-width: 5px;

}

input#pet5[type=checkbox] + label{
    /* foxy */
    background-image: url("https://i.imgur.com/xsZFh37.gif");
    border-color: white;
    height: 100px;
    width: 79px;
    display: inline-block;
    padding: 0 0 0 0px;
}

input#pet5[type=checkbox]:checked + label{
    border-color: rgb(247, 151, 167);
    border-style: solid;
    width: 79px;
    height: 100px;
    display: inline-block;
    padding: 0 0 0 0px;
    border-width: 5px;

}

/* Collect Pet */

#collect-petto {
    padding: 15px 0;
    font-size: 40px;
    color: #57e4fd;
    text-shadow: 1px 3px 0 rgb(255, 255, 255);
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
}

/* progress bars */

progress {
    
    border-radius: 7px; 
    height: 22px;
    box-shadow: 1px 1px 4px rgba( 0, 0, 0, 0.2 );
  }
progress::-webkit-progress-bar {
    background-color: rgb(252, 183, 243);
    border-radius: 7px;
    
  }
progress::-webkit-progress-value {
    background-color: rgb(157, 229, 255);
    border-radius: 7px;
    
}
  







/* body {
    background-color: aquamarine;
    display: grid;
    grid-template-areas:
        "header header"
        "column1 column2 column3"
}

header {
    grid-area: header;
}

#friend-container {
    grid-area: column1;
}

main {
    grid-area: column2;
}

#pet-stats {
    grid-area: column3;
}

/* img.petbackground{
position: relative;
} */